[Unit]
Description=F' soak-test GDS
After=network.target fprime-soak-fsw.service
Wants=fprime-soak-fsw.service

[Service]
Type=simple
User=__SERVICE_USER__
WorkingDirectory=__INSTALL_DIR__
# fprime-gds reads command-line options from fprime-gds.yml in WorkingDirectory, but we expose additional through GDS_ARGS
ExecStart=__INSTALL_DIR__/venv/bin/fprime-gds __GDS_ARGS__
Restart=no
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
